/* .movie-detail {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
} */

.movie-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  padding-top: 20px;
}

.movie-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  margin: 50px 15px 20px 45px;
}

.movie-info {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 25px;
  margin-right: 15px;
}

.movie-info p{
  padding-right: 23px;
}

.comment-section {
  width: 100%;
  margin-top: 65px;
  padding-left: 45px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.comment-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  max-width: 600px;
}

.comment-form input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.comment-form button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #333;
}

/* 출연진 사진 */
.actor-photos {
  margin-top: 20px;
}
.actor-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.actor-item {
  text-align: center;
  width: 90px;
}
.actor-img {
  width: 100px;
  height: 137.5px;
  object-fit: cover;
  border-radius: 8px;
  background: #eee;
}
.actor-name {
  margin-top: 6px;
  font-size: 0.95em;
}
.actor-character {
  font-size: 0.85em;
  color: #888;
}

.star-rating {
  font-size: 2.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.4rem;
}

.star-rating .on {
  color: gold;
}

.star-rating .off {
  color: lightgray;
}

.star-shape {
  width: 50px;
}

.choose {
  display: flex;
  margin-left: 3px; 
  font-size: 19px;
}

.starbutton {
  margin-top: 0px;
  margin-left: 20px;
  padding: 0px 14px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.starbutton:hover {
  background-color: #555;
}
