.movie-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background: white;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #eee;
}
