.footer{
<<<<<<< HEAD
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #9f9f9f;
    margin-top: 30px;
  }
  
  /* .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  } */
  
  .footer-box{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* .footer-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start
  } */
  
  /* .footer-links {
    display: inline-flex;
    text-align: center;
    gap: 10px;
  }
  
  .footer-links a {
    color: #9f9f9f;
  } */
  
  .footer-date p{
    text-align: center;
  }
  
  .footer-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .footer-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
=======
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #9f9f9f;
  margin-top: 30px;
}


.footer-box{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}


.footer-date p{
  text-align: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-icon img {
  width: 40px;
  height: 40px;
}
>>>>>>> efe5b8d25c21dd1adebcd947140a476d4d3259fc
