.Navigation {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center; 
  padding: 0 40px;
  padding-top: 20px;
  line-height: 50px;
}

.Navigation .logo {
  font-size: x-large;
  font-weight: bolder;
  padding-left: 30px;
  -webkit-text-fill-color: white;
  
}

.Navigation ul {
  display: flex;
  margin: 0;
  list-style: none;
  -webkit-text-fill-color: white;
  line-height: 50px;
}

.Navigation ul li {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
<<<<<<< HEAD
=======

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
>>>>>>> efe5b8d25c21dd1adebcd947140a476d4d3259fc
