.Navigation {
  display: flex;
  background-color: black;
  /* align-items: center; */
  padding: 10px;
  line-height: 50px;
}

.Navigation .logo {
  font-size: x-large;
  font-weight: bolder;
  padding-left: 40px;
  -webkit-text-fill-color: white;
}

.Navigation ul {
  display: flex;
  padding-left: 200px;
  margin: 0;
  list-style: none;
  -webkit-text-fill-color: white;
  line-height: 50px;
}

.Navigation ul li {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}